@charset "UTF-8";

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  background-color: white;
  overflow-x: hidden; /* 横スクロール防止 */
}

.header-image {
  width: 100%;
  text-align: right;
  height: auto;
  display: inline-block;
}

/* レスポンシブ */
/* スマホ用（400px以下） */
@media (max-width: 480px) {
  .header-image {
    width: 100%;
  }
}
